{% extends 'main.html' %}

{% load django_bootstrap5 %}

{% block content%}

<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 col-xl-9 col-xxl-7">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Create Your Account Here</h4>
                                </div>
                                <form action="" method="post" class="form">
                                    {% csrf_token %}
                                
                                    {% bootstrap_form form %}
                                
                                    {% bootstrap_button button_type="submit" content="Create Account" %}
                                    
                                </form>
                                <div class="text-center"><a class="small" href="{% url 'login' %}">Alredy Have an Account!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}